<div class="acm-autocomplete" style="left:{{location.left}}px; top:{{location.top}}px;">
  <div id ="acm-wrapper" tabindex="-1" >
    <div class="flexcol"> 
      <ol class="acm-list">

        {{#if singleAtWaiting}}
          <li class="acm-static-entry flexrow">
            Search/add...
          </li>
          <li><hr></li> 

          {{#each docTypes}}
            <li id="menu-item-{{type}}" class="acm-data-entry flexrow{{#if (eq @index ../highlightedEntry)}} highlighted{{/if}}" data-acm-index="{{@index}}">
              <span class="acm-key-prefix">{{keypress}}:&nbsp;</span>
              <span class="acm-key">{{title}}</span>
            </li>
          {{/each}}
        {{else if (or docSearch journalPageSearch)}}
          {{#if journalPageSearch}}
            <li class="acm-static-entry flexrow">
              {{journalName}}
            </li>
            <li class="acm-static-entry flexrow">
              Searching pages for '{{shownFilter}}'
            </li>
            <li><hr></li> 
            <li class="acm-data-entry flexrow{{#if (eq 0 highlightedEntry)}} highlighted{{/if}}" data-acm-index="0">
              Link whole journal entry
            </li>
          {{else}}
            <li class="acm-static-entry flexrow">
              Searching {{docType}} for '{{shownFilter}}'
            </li>
            <li><hr></li> 
            <li class="acm-data-entry flexrow{{#if (eq 0 highlightedEntry)}} highlighted{{/if}}" data-acm-index="0">
              Create new...
            </li>
          {{/if}}

          {{#each searchResults}}
            <li id="menu-item-{{acm-add @index 1}}" class="acm-data-entry flexrow{{#if (eq (acm-add @index 1) ../highlightedEntry)}} highlighted{{/if}}" data-acm-index="{{acm-add @index 1}}">
              <span class="acm-key">{{{name}}}</span>
            </li>
          {{/each}}

          {{#if hasMore}}
            <li id="menu-item-more" class="acm-static-entry flexrow">
              <span class="acm-key">...</span>
            </li>
          {{/if}}
        {{/if}}
        
      </ol>
    </div>
  </div>
</div>
