<div class="acm-autocomplete" style="left:{{location.left}}px; top:{{location.top}}px;">
  <div id ="acm-wrapper" tabindex="-1" >
  <div class="flexcol"> 
    <ol class="acm-list">

      {{#if singleAtWaiting}}
        <li class="acm-data-entry flexrow">
          Search/add...
        </li>
        <li><hr></li> 

        {{#each docTypes}}
          <li id="menu-item-{{@index}}" class="acm-data-entry flexrow{{#if (eq @index ../highlightedEntry)}} highlighted{{/if}}">
            <span class="acm-key-prefix">{{key}}:&nbsp;</span>
            <span class="acm-key">{{title}}</span>
          </li>
        {{/each}}
      {{else if docSearch}}
        <li class="acm-data-entry flexrow">
          Searching for '{{ shownFilter }}'
        </li>
        <li><hr></li> 

        {{#each }}
          <li id="menu-item-{{@index}}" class="acm-data-entry flexrow{{#if (eq @index ../highlightedEntry)}} highlighted{{/if}}">
            <span class="acm-key">{{{title}}}</span>
          </li>
        {{/each}}
      {{/if}}
      
    </ol>
<!--    <form class="acm-form flexrow">
      <input class="acm-input" type="text" value="{{path}}" spellcheck="false">
      <button type="submit" class="acm-insert"><i class="fas fa-i-cursor"></i></button>
    </form>-->
  </div>
  </div>
</div>